html,
body {
  background: linear-gradient(45deg, #2d2d2d 9%, black 100%);
  width: 100%;
  height: 100%;
  font-family: cursive;
  font-size: 5vs;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #2d2d39;
  color: #a2a2a2;
}

h1 {
  font-family: Lucida Calligraphy;
  font-size: 50px;
  text-align: justify;
  line-height: 1;
  margin: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  color: #a2a2a2;
  letter-spacing: 0rem;
}
h1:before {
  content: attr(data-heading);
  position: relative;
  overflow: hidden;
  color: #ffcc00;
  width: 100%;
  z-index: 9;
  text-shadow: none;
  left: 102px;
  text-align: left;
  -webkit-animation: flicker 3s linear infinite;
          animation: flicker 3s linear infinite;
}

@-webkit-keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: 0.99;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: 0.99;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    position: relative;
    width: 148vw;
    max-width: 1580px;
    max-height: 850px;
    height: 139vh;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    background: repeating-conic-gradient(from var(--q), #263af1 0%, #263af1 5%, transparent 5%, transparent 40%, #263af1 50%);
    animation: animate 8s linear infinite;
    border-radius: 20px;

    
}

@property --q {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate {
    0% {
        --q: 0deg;
    }

    100% {
        --q: 360deg;
    }
}

.box::after {
    content: '';
    position: relative;
    inset: 18px;
    background: #2d2d39;
    border-radius: 15px;
    border: 8px;
}

.box1 {
    position: absolute;
    inset: 5px;
    background: #2d2d39;
    border-radius: 15px;
    border: 8px;
}

.row {
    display: -ms-flexbox;
    display: grid;
    grid-template-columns: 50% 15% 35%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -30px px;
}
.col-md-1 {
  margin-top: 20%;
  margin-left: 5%;
    -ms-flex: 0 0 25%;
    flex: 12 6 59%;
}
.col-md-2 {
    -ms-flex: 0 0 25%;
    flex: 12 6 59%;
    max-width: 15%;
}
.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 12 6 59%;
    max-width: 35%;
}

.welcome-message {
  transform-origin: 0;
  opacity: 1;
  transition: all .2s linear;
  transform: scaleX(1);
}